.container{
    background-color: #4E4E4E !important;
    padding: 0.5rem 1rem !important;
    margin-bottom: 2rem !important;
    width: 100% !important;
}
.toolbar{
    display: flex !important;
    justify-content: space-between !important;
}
.brand{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.searchInput{
    background-color: rgba(148, 148, 148, 0.54) !important;
    margin: 0 1rem !important;
    border-radius: 25px !important;
    box-shadow: none;
    border: none;
    padding: 0.8rem 1rem;
    outline: none;
}
::placeholder { /* Most modern browsers support this now. */
    color:    #e0e0e0;
 }
 input, select, textarea{
    color: #e0e0e0;
}
.utility{
    display: flex;
    align-items: center;
}
.profile{
    display: flex;
    align-items: center;
    background-color: #333333;
    border-radius: 20px;
    margin-left: 1rem;
}
.profileName{
    margin: 0 0.5rem !important;
}
.profileImage{
    height: 2.3rem;
    width: auto;
    border-radius: 20px;
    margin: 2px;
}